###### Folder #######
/.DS_Store
/parent/target/*
/parent/db/target/*
/parent/nex/target/*
/parent/servlet/target/*
/parent/liquibase/target/*
/parent/.idea/*
/parent/db/.idea/*
/parent/nex/.idea/*
/parent/servlet/.idea/*
/parent/liquibase/.idea/*



###############
#  fixed file #
###############
.gitignore
*.exe
*.txt
*.def
*.dsp
*.lib
*.doc
*.dll
*.lnt
*.pm
*.xls
*.dbg
*.DBG
*.o
*.plg
*.keep
*.iml

###############
#  temp file  #
###############
~*
*.cmm
*.men
*.ini
*.fig
*.cmp
*.tmp
