###### Folder #######
/.DS_Store
/


###############
#  fixed file #
###############
.gitignore
*.exe
*.txt
*.def
*.dsp
*.lib
*.doc
*.dll
*.lnt
*.pm
*.xls
*.dbg
*.DBG
*.o
*.plg
*.keep

###############
#  temp file  #
###############
~*
*.cmm
*.men
*.ini
*.fig
*.cmp
*.tmp